{% extends 'base.html' %}
{% block content %}
<title> Login </title>
<div class="container pt-4">
    <div class="col-lg-4 mx-auto shadow-lg mt-4">
        <div class="alert alert-primary">
            <h2>Login</h2>
        </div>
        <div class="p-4">
            <form action="/login/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}